.details__button {
    color: #ec7474;
    border: none;
    padding: 10px 25px;
    margin: 5px 0;
    font-size: 13px;
    border-radius: 5px;
    font-family: sans-serif;
    transform: scale(1.1);
    font-weight: 600;
}
.book_img{
 min-height: 268px;
 min-width: 250px;   
}
.card{
    padding:8px;
    padding-bottom: 14px;
}
